<app-page>
  <h1 appPageTitle>Digit Roller</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Animated digit counter that rolls numbers with a slot-machine style animation. Perfect for displaying stats, counters, and live metrics.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/digit-roller/_examples" exampleName="basic-digit-roller-example">
      <app-basic-digit-roller-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Animated counter</h3>
    <emr-playground exampleUrl="_docs/components/digit-roller/_examples" exampleName="digit-roller-animated-example">
      <app-digit-roller-animated-example />
    </emr-playground>
  </div>
</app-page>
