<app-page>
  <h1 appPageTitle>Tag</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Tags are compact labels for categorizing and organizing content. They support multiple variants, colors, and sizes.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/tag/_examples" exampleName="basic-tag-example">
      <app-basic-tag-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Colors</h3>
    <emr-playground exampleUrl="_docs/components/tag/_examples" exampleName="tag-colors-example">
      <app-tag-colors-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Variants</h3>
    <emr-playground exampleUrl="_docs/components/tag/_examples" exampleName="tag-variants-example">
      <app-tag-variants-example />
    </emr-playground>
  </div>
</app-page>
