<div class="flex flex-wrap gap-10 p-10">
  <emr-badge [value]="5" position="top-right">
    <div class="w-10 h-10 rounded-lg bg-surface-container flex items-center justify-center">
      <mat-icon>notifications</mat-icon>
    </div>
  </emr-badge>
  <emr-badge [value]="5" position="top-left">
    <div class="w-10 h-10 rounded-lg bg-surface-container flex items-center justify-center">
      <mat-icon>mail</mat-icon>
    </div>
  </emr-badge>
  <emr-badge [value]="5" position="bottom-right">
    <div class="w-10 h-10 rounded-lg bg-surface-container flex items-center justify-center">
      <mat-icon>chat</mat-icon>
    </div>
  </emr-badge>
  <emr-badge [value]="5" position="bottom-left">
    <div class="w-10 h-10 rounded-lg bg-surface-container flex items-center justify-center">
      <mat-icon>favorite</mat-icon>
    </div>
  </emr-badge>
  <emr-badge [dot]="true" variant="success">
    <div class="w-10 h-10 rounded-full bg-surface-container flex items-center justify-center">
      <mat-icon>person</mat-icon>
    </div>
  </emr-badge>
</div>
