<app-page>
  <h1 appPageTitle>Progress Spinner</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Circular progress indicator with indeterminate and determinate modes. Fully customizable diameter, stroke width, and color.</p>
    </main>

    <h3 class="mat-title-large">Basic Progress Spinner</h3>
    <emr-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="basic-progress-spinner-example">
      <app-basic-progress-spinner-example></app-basic-progress-spinner-example>
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Configurable</h3>
    <emr-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="configurable-spinner-example">
      <app-configurable-spinner-example></app-configurable-spinner-example>
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Sizes</h3>
    <emr-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="progress-spinner-sizes-example">
      <app-progress-spinner-sizes-example />
    </emr-playground>
  </div>
</app-page>