<app-page>
  <h1 appPageTitle>Calendar</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>A full calendar component with month, week, and day views. Navigate between months, and click dates to select them.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/calendar/_examples" exampleName="basic-calendar-example">
      <app-basic-calendar-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">With events</h3>
    <emr-playground exampleUrl="_docs/components/calendar/_examples" exampleName="calendar-event-example">
      <app-calendar-event-example />
    </emr-playground>
  </div>
</app-page>
