<app-page>
  <h1 appPageTitle>Video Player</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>A fully-featured HTML5 video player with custom controls: play/pause, scrubbing, volume, speed selection, Picture-in-Picture, fullscreen, and chapter support.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/video-player/_examples" exampleName="basic-video-player-example">
      <app-basic-video-player-example />
    </emr-playground>

    <h3 class="mat-title-large">Without chapters</h3>
    <emr-playground exampleUrl="_docs/components/video-player/_examples" exampleName="video-player-simple-example">
      <app-video-player-simple-example />
    </emr-playground>
  </div>
</app-page>
