<app-page>
  <h1 appPageTitle>Skeleton</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Placeholder loading state for content that is not yet available. Compose skeleton shapes to match the actual layout.</p>
    </main>

    <h3 class="mat-title-large">Basic Skeleton</h3>
    <emr-playground exampleUrl="_docs/components/skeleton/_examples" exampleName="basic-skeleton-example">
      <app-basic-skeleton-example/>
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Card skeleton</h3>
    <emr-playground exampleUrl="_docs/components/skeleton/_examples" exampleName="skeleton-card-example">
      <app-skeleton-card-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">List skeleton</h3>
    <emr-playground exampleUrl="_docs/components/skeleton/_examples" exampleName="skeleton-list-example">
      <app-skeleton-list-example />
    </emr-playground>
  </div>
</app-page>