<app-page>
  <h1 appPageTitle>Image Zoom Viewer</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Pan and zoom images with mouse wheel and drag interactions. Includes a minimap, zoom controls, and reset functionality.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/image-zoom-viewer/_examples" exampleName="basic-image-zoom-viewer-example">
      <app-basic-image-zoom-viewer-example />
    </emr-playground>

    <h3 class="mat-title-large">Without minimap</h3>
    <emr-playground exampleUrl="_docs/components/image-zoom-viewer/_examples" exampleName="image-zoom-viewer-no-minimap-example">
      <app-image-zoom-viewer-no-minimap-example />
    </emr-playground>
  </div>
</app-page>
