<div class="flex flex-col gap-4 p-6 items-start">
  <div class="flex items-center gap-4">
    <span class="text-sm w-12">Small</span>
    <emr-rating size="sm" [ngModel]="4" [readonly]="true" />
  </div>
  <div class="flex items-center gap-4">
    <span class="text-sm w-12">Medium</span>
    <emr-rating size="md" [ngModel]="4" [readonly]="true" />
  </div>
  <div class="flex items-center gap-4">
    <span class="text-sm w-12">Large</span>
    <emr-rating size="lg" [ngModel]="4" [readonly]="true" />
  </div>
</div>
