<app-page>
  <h1 appPageTitle>Button Toggle</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>Button toggle groups for exclusive or multi-select choices. Supports default, pill, and segmented variants with form integration.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/button-toggle/_examples" exampleName="basic-button-toggle-example">
      <app-basic-button-toggle-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Variants</h3>
    <emr-playground exampleUrl="_docs/components/button-toggle/_examples" exampleName="button-toggle-variants-example">
      <app-button-toggle-variants-example />
    </emr-playground>

    <mat-divider class="my-8" />

    <h3 class="mat-title-large">Multi-select</h3>
    <emr-playground exampleUrl="_docs/components/button-toggle/_examples" exampleName="button-toggle-multi-example">
      <app-button-toggle-multi-example />
    </emr-playground>
  </div>
</app-page>
