<app-page>
  <h1 appPageTitle>Filter Select</h1>
  <div appPageContent>
    <main class="mb-10">
      <p>A searchable, groupable select/multi-select dropdown with form integration. Supports clearable selection, loading state, and grouped options.</p>
    </main>

    <h3 class="mat-title-large">Basic</h3>
    <emr-playground exampleUrl="_docs/components/filter-select/_examples" exampleName="basic-filter-select-example">
      <app-basic-filter-select-example />
    </emr-playground>

    <h3 class="mat-title-large">Filter a table</h3>
    <emr-playground exampleUrl="_docs/components/filter-select/_examples" exampleName="filter-select-table-example">
      <app-filter-select-table-example />
    </emr-playground>
  </div>
</app-page>
